


$accend-color: #2196f3;
$accent-second-color: #000000;
$background-darc-color: #2f303a;
$background-grey-color: #f5f4fa;


$primery-color: #010111;
$text-color: #757575;
$title-color: #ffffff;
$accent-color-milk: #E8E5E5;
$background-color-grey-darc: #656577;
$background-color-grey-lite: #ebf7fa;
$background-color-pink-darc: #ED8DBB;
$background-color-pink-lite: #FBD3E6;

$text-title-color:rgb(207, 18, 18);

$transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-font: Roboto, sans-serif;

$gap: 30px;









