.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #010111;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.list-img {
  text-decoration: none;
}

h2 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #010111;
}

.text__span {
  color: rgb(207, 18, 18);
}

.tablet-constanta__link--current {
  color: #d81272;
  font-size: 24px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  /* display: flex;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button, .footer-form__button {
  display: block;
  border-radius: 25px;
  padding: 12px 20px;
  max-width: 164px;
  text-align: center;
  border: 1px solid #ED8DBB;
  color: #656577;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.09em;
}
@media screen and (min-width: 768px) {
  .button, .footer-form__button {
    min-width: 160px;
  }
}

.button:hover, .footer-form__button:hover,
.button:focus,
.footer-form__button:focus {
  color: #ED8DBB;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

/*-------------header__mobile*/
.header {
  background-color: #FBD3E6;
  width: 100vw;
  border-bottom: 1px solid #ed8dbb;
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: none;
    background-color: white;
    width: 100vw;
  }
}

.mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
    display: flex;
    gap: 4px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address__item,
.address__link,
.main__link {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: rgba(23, 26, 36, 0.8);
}
@media screen and (min-width: 768px) {
  .address__item,
.address__link,
.main__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.address__item {
  font-size: 18px;
  text-align: center;
}

.address__link {
  content: "";
  fill: #ED8DBB;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #ED8DBB;
}

.address__item {
  margin-top: 8px;
  padding: 8px;
  max-width: 150px;
  border: 1px solid gray;
  border-radius: 7px;
}

.main__item:first-child {
  margin-bottom: 8px;
}

.header__button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}

.main__list .header__button-menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu.is-hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 21px 25px 48px 40px;
    background: #ebf7fa;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu > .container-mobile {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.menu .work-time .menu--bottom {
  display: block;
  margin-left: auto;
}
.menu .menu--bottom {
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .header__button-menu {
  position: absolute;
  top: 22px;
  right: 26px;
}

.work-time {
  content: "";
  display: block;
  padding: 12px;
  max-width: 400px;
  max-height: 600px;
  -webkit-box-shadow: 0 15px 10px #29292b;
          box-shadow: 0 15px 10px #29292b;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .work-time {
    padding: 6px;
    max-width: 300px;
    max-height: 85px;
    margin: 0;
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .work-time {
    padding: 6px;
    max-width: 300px;
    max-height: 85px;
    margin: 0;
    margin-left: 70px;
  }
}

.work-time::after {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  right: 10px;
  left: auto;
}

.work-time__title {
  font-size: 24px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #010111;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .work-time__title {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 4px;
  }
}

.work-time__text {
  margin-top: 8px;
  color: #656577;
  font-size: 24px;
  line-height: 1.71;
  font-weight: 500;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .work-time__text {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.work-time__text:last-child {
  text-align: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-shadow: 0 5px 5px #0c0cd3;
  color: rgba(1, 1, 11, 0.7);
}

.sos__mail {
  font-size: 34px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(1, 1, 11, 0.7);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .sos__mail {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.sos__tel {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(1, 1, 11);
  margin-bottom: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .sos__tel {
    font-size: 20px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.sos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sos__item:first-child {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sos__item:first-child {
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.sos__mail:hover,
.sos__mail:focus {
  color: #ED8DBB;
}

.sos__tel:hover,
.sos__tel:focus {
  color: #ED8DBB;
}

.sos__item:hover,
.sos__item:focus {
  fill: #ED8DBB;
}

.sos__img {
  margin-right: 12px;
}

.social {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .social {
    gap: 12px;
  }
}

.social__instagram {
  content: "";
  width: 42px;
  height: 42px;
  border: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
          box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
  fill: white;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(20%, rgb(230, 202, 47)), color-stop(50%, rgb(230, 47, 71)), to(rgb(230, 47, 190)));
  background-image: linear-gradient(to top right, rgb(230, 202, 47) 20%, rgb(230, 47, 71) 50%, rgb(230, 47, 190));
}
@media screen and (min-width: 768px) {
  .social__instagram {
    width: 32px;
    height: 32px;
  }
}

.social__whatsApp {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
          box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
  content: "";
  width: 42px;
  height: 42px;
  border: transparent;
  border-radius: 50%;
  fill: white;
  background-color: rgb(41, 212, 56);
}
@media screen and (min-width: 768px) {
  .social__whatsApp {
    width: 32px;
    height: 32px;
  }
}

.social__telegram {
  content: "";
  width: 42px;
  height: 42px;
  border: transparent;
  border-radius: 50%;
  fill: rgb(115, 187, 245);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
          box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
  color: white;
}
@media screen and (min-width: 768px) {
  .social__telegram {
    width: 32px;
    height: 32px;
  }
}

.social__viber {
  content: "";
  width: 42px;
  height: 42px;
  border: transparent;
  border-radius: 50%;
  fill: rgb(95, 32, 240);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
          box-shadow: 0px 0px 8px 1px rgba(24, 41, 66, 0.88);
}
@media screen and (min-width: 768px) {
  .social__viber {
    width: 32px;
    height: 32px;
  }
}

/*---------------------------header*/
.header__tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 0;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.header__tablet {
  background-color: #fff;
}

.header__tablet .work-time {
  position: relative;
}

.header__tablet .work-time__link {
  position: absolute;
}

@media screen and (min-width: 768px) {
  .header-item {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    margin: 6px 0 0 6px;
  }
}
@media screen and (min-width: 1200px) {
  .header-item {
    margin: 0 180px;
  }
}

.social__item {
  width: 32px;
  height: 32px;
}

/*------------------------tablet-constanta*/
@media screen and (max-width: 767px) {
  .section.tablet-constanta {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section.tablet-constanta {
    background-color: #FBD3E6;
    width: 100vw;
    border-bottom: 4px solid #ed8dbb;
  }
}

.tablet-constanta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.tablet-constanta__link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #2f303a;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tablet-constanta__link:hover,
.tablet-constanta__link:focus {
  content: "";
  width: 100%;
  height: 12px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(65, 65, 77, 0.5);
  color: white;
}

.tablet-constanta__list--detailed {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #656577;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

/*-------------------------plasma-therapy*/
.plasma-therapy {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #010111;
}

.plasma-therapy__span {
  color: rgb(207, 18, 18);
}

@media screen and (min-width: 768px) {
  .plasma-therapy__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}

.plasma-therapy__img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .plasma-therapy__img {
    width: calc(50% - 8px);
  }
}

@media screen and (min-width: 768px) {
  .plasma-therapy__about {
    width: calc(50% - 8px);
  }
}

.plasma-therapy__list .plasma-therapy__item + .plasma-therapy__item {
  margin-bottom: 12px;
}

.plasma-therapy__item:first-child {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgb(207, 18, 18);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.plasma-therapy__item:nth-child(2) {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #2f303a;
  text-indent: 24px;
}

.plasma-therapy__item:nth-child(n+3)::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: rgb(207, 18, 18);
  color: rgb(207, 18, 18);
  border: 2px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 8px;
}

/*----------------------carboxy-therapy*/
.carboxy-therapy {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(65, 65, 77, 0.8);
  width: 100vw;
}

.carboxy-therapy span {
  color: #FBD3E6;
}

.carboxy-therapy h2 {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .carboxy-therapy__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}

.carboxy-therapy__img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .carboxy-therapy__img {
    width: calc(50% - 8px);
  }
}

@media screen and (min-width: 768px) {
  .carboxy-therapy__about {
    width: calc(50% - 8px);
  }
}

.carboxy-therapy__list .carboxy-therapy__item + .carboxy-therapy__item {
  margin-bottom: 12px;
}

.carboxy-therapy__item:first-child {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.7;
  color: #FBD3E6;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.carboxy-therapy__item:nth-child(2) {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #E8E5E5;
  text-indent: 24px;
}

.carboxy-therapy__item:nth-child(n+3)::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  color: rgb(207, 18, 18);
  border: 2px solid #ED8DBB;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 8px;
}

/*---------------------------about-us*/
.about-us {
  display: none;
}

/*----------------------plasma-all*/ /*----------------------carboxy-all*/ /*---------------------------about-us*/
.about-us {
  display: none;
}

/*-----------------------footer*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: rgba(65, 65, 77, 0.8);
  width: 100vw;
}

.footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__wrap {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 1199px) {
  .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200) {
  .contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer__address {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__address .address__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FBD3E6;
}

.footer__address .address__item {
  border: 1px solid #ED8DBB;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer__address .address__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__footer-soc {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-soc {
    margin-left: 70px;
  }
}

.footer-soc .sos__mail {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc .sos__img {
  fill: #ffffff;
}

.footer-soc .sos__tel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 20px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer-soc .sos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-soc .sos__item:first-child {
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/*------------------------------footer-form*/
@media screen and (max-width: 1199px) {
  .footer__footer-form {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-form {
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .footer-form__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-form__wrap {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__wrap {
    margin-left: 166px;
  }
}

.footer-form__iput {
  background-color: transparent;
  border: 1px solid #ED8DBB;
  border-radius: 4px;
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font: inherit;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-form__iput {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__iput {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__iput {
    min-width: 358px;
    margin-right: 12px;
  }
}
.footer-form__iput:hover {
  border-color: #2196f3;
}

.footer-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  font: inherit;
  font-family: "Roboto";
  color: #FBD3E6;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__iput:not(:-moz-placeholder-shown) + .footer-form__label {
  transform: translate(-16px, -46px);
}
.footer-form__iput:not(:-ms-input-placeholder) + .footer-form__label {
  transform: translate(-16px, -46px);
}
.footer-form__iput:focus + .footer-form__label, .footer-form__iput:not(:placeholder-shown) + .footer-form__label {
  -webkit-transform: translate(-16px, -46px);
          transform: translate(-16px, -46px);
}

.footer-form__button {
  position: relative;
  min-width: 160px;
  color: #E8E5E5;
}
@media screen and (max-width: 1199px) {
  .footer-form__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */