/*----------------------carboxy-therapy*/

.carboxy-therapy {
  @include font (16px, 1.5, 500, 0.03em);
color: $title-color;
  background-color: rgba(65,65,77, 0.8);
    width: 100vw;
}

.carboxy-therapy span{
  color: $background-color-pink-lite;
}

.carboxy-therapy h2{
  color:$title-color ;
  margin-bottom: 12px;
}

.carboxy-therapy__wrap {
  @media screen and (min-width:768px) {
    display: flex;
    gap: 40px;
  }

}

.carboxy-therapy__about {
  @media screen and (min-width:768px) {
    width: calc(50% - 8px);
  }

}

// .carboxy-therapy__list .carboxy-therapy__item+.carboxy-therapy__item {
//   // margin-bottom: 12px;
// }

.carboxy-therapy__title {
  @include font (18px, 1.7, 400, 0.7);
  color: $background-color-pink-lite;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.carboxy-therapy__item:nth-child(2) {
  @include font (18px, 1.2, 400, 0.03em);
  color: $accent-color-milk;
  text-indent: 24px;
}

.carboxy-therapy__item:nth-child(n+3)::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: $title-color;
  color: $text-title-color;
  border: 2px solid #ED8DBB;
  transform: rotate(45deg);
  margin-right: 8px;
}

.carousel {
  position: relative;
  margin: 15px 0 60px 0;
     @media screen and (min-width:768px) {
      width: calc(50% - 8px);
    }
 }

.gallery img {
  margin-right: 15px;
  border-radius: 15%;
 width: 409px;
  height: 464px;
}

.arrow {
  position: absolute;
  top: 480px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 37px;
  @media screen and (min-width:1200px){
    left: 57px;
  }
  
}

.next {
  right: 37px;
  @media screen and (min-width:1200px){
    right: 197px;
  }
  
}
