/*-----------------------footer*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
color: $title-color;
  background-color: rgba(65, 65, 77, 0.8);
  width: 100vw;
}

.footer .container {
  
  flex-direction: column;
  align-content: center;
  align-items: baseline;

  @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
}

.footer__wrap{
 margin-bottom: 60px;

  @media screen and (min-width:768px){
     display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
     }

@media screen and (min-width:768px) and (max-width:1199px){
  margin-bottom: 60px;
}

@media screen and (min-width:1200px){
flex-grow: 1;
}

}

@media screen and (max-width:1199px){
  
  .header-item{
display: flex;
  justify-content: center;

}
}

.contacts {
 margin-bottom: 60px;

   
  @media screen and (min-width:1200){
    flex-grow: 1;
  }
}



.footer__address {
  margin-top: 20px;
  display: flex;
    justify-content: center;
}

.footer__address .address__link{
  @include font (16px, 1.2, 400, 0.02em);
  color: $background-color-pink-lite;
}

.footer__address .address__item{
border: 1px solid #ED8DBB;
color: $title-color;

@media screen and (max-width:1199px){
  justify-content: center;
}

}


.footer__footer-soc {

  @media screen and (max-width:767px) {
      margin-bottom: 60px;
    }



  @media screen and (min-width:1200px) {
           margin-left: 70px; 
         }

 }

.footer-soc .sos__mail {
   @include font (14px, 1.14, 500, 0.02em);
  text-align: center;
  color: $title-color;
  transition: color $transform;
 

}

.footer-soc .sos__img{
  fill: $title-color;
}

.footer-soc .sos__tel {
justify-content: center;
  text-align: center;
  color: $title-color;
  margin-bottom: 8px;
  transition: color $transform;

 
    @include font (20px, 1.14, 500, 0.02em);
  
}

.footer-soc .sos__item {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-soc .sos__item:first-child {
  
    margin-bottom: 10px;
    flex-direction: row-reverse;
  
}

